# Node.js
node_modules/
dist/
npm-debug.*

# Expo
.expo/
.expo-shared/
web-build/

# Archivos de configuración de Expo y entorno
.env
.env.*
expo-env.d.ts

# Archivos de caché y configuraciones específicas de Visual Studio Code
.vscode/

# Archivos de sistema operativo
.DS_Store

# Archivos de logs de Yarn
yarn-debug.log*
yarn-error.log*

# Archivos de llaves y provisión para iOS y Android
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Archivos temporales y específicos de sistema operativo
.tmp/
.temporary/
